# Act 03
## Camila Torres R
## 21 Agosto

In [5]:
import pandas as pd
datos = pd.read_excel("datosCT.xlsx")

datos

    Unnamed: 0  Ingreso  Gasto
0        Enero     1340   1880
1      Febrero     2590   3130
2        Marzo     3570   2140
3        Abril     4450   3370
4         Mayo     1330   2990
5        Junio     1610   1970
6        Julio     1500   2230
7       Agosto     2270   1240
8   Septiembre     1910   1470
9      Octubre     2120   2280
10   Noviembre     3950   1870
11   Diciembre     1380   3140

### Calcular con los datos la utilidad

In [10]:
datos.columns
datos ["Utilidad"] = datos["Ingreso"] - (datos["Gasto"])
datos ["Utilidad"]

0     -540
1     -540
2     1430
3     1080
4    -1660
5     -360
6     -730
7     1030
8      440
9     -160
10    2080
11   -1760
Name: Utilidad, dtype: int64

###  Promedio de Gastos en los meses que la Utilidad fue negativa

In [76]:
gastos_neg = datos [datos["Utilidad"] <0 ]['Gasto']
prom_gast_neg = gastos_neg.mean()
prom_gast_neg

2517.1428571428573

### Ingresos del año

In [28]:
suma_ingreso = datos["Ingreso"].sum()
print(f'Los ingresos totales del año son: {suma_ingreso}')

Los ingresos totales del año son: 28020

## 2. Crear estructuras usando numpy

In [66]:
import numpy as np

A = np.array([
    [1, 2],
    [3, 4]
])
A

array([[1, 2],
       [3, 4]])

In [68]:
b = np.array([
    [2],
    [4]
])
b

array([[2],
       [4]])

In [70]:
b_Transpuesta = b.T
Ab = np.dot(A, b_Transpuesta)
Ab

ValueError: shapes (2,2) and (1,2) not aligned: 2 (dim 1) != 1 (dim 0)